body {

	background-image:url("bfcf1997f961d815ec38b6342db1662d.jpg");
	background-position: center; 
  	background-size: cover; 
	
}
.background {
	background: rgba(300,300,300,0.65);
	position:absolute;
	width:100%;
	height:100%;
}

.visas {
	position:absolute;
	margin-left: 3%;
	width:75%
}
.mazas {
	position: fixed;
	text-align:center;
	background-color: pink;
    	top: 0;
    	right: 0;
    	width: 20%;
	height: 100%;
	border-style: outset;
}

a {
	font-family:"Courier New";
	font-size:150%;
}

ul {
	color: red;
	font-family: arial;
	font-size: 120%;
}

img {
	width: 17%;
}

ol {
	color: maroon;
	font-family: arial;
	font-size: 120%;
}
p {
	font-size:120%;
}

h1 {
    	color: peru;
}
h3 {
	font-family:"Courier New";
	font-size:200%;
}
table, th, td {
	border: 1px solid black;
}

textarea {
	
}